@model ChallengeClub.Models.ActivityList;
@{
    ViewData["Title"] = "Daily Activity";
    
}


<html>
<head>
    <link rel="stylesheet" href="~/css/MemberActivity.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />

</head>
<body>


    <div class="activity_page">
        <br>
        <h3>Today's Activities : </h3><br>

        <div>
            <form method="post" action="/MemberActivity">
                @for (int i = 0; i < Model.DailyActs.Count; i++)
                {
                <div class="gallery">
                    <a href="">
                        <img src="@Model.DailyActs[i].ActivityImage" height="200" width="200">
                    </a>
                    <div class="desc">

                        @Html.CheckBoxFor(m => Model.DailyActs[i].IsCheck)
                        @Model.DailyActs[i].ActivityName<br>
                        @Model.DailyActs[i].StartTime
                        @Html.HiddenFor(m => Model.DailyActs[i].ActivityImage)
                        @Html.HiddenFor(m => Model.DailyActs[i].ActivityId)
                        @Html.HiddenFor(m => Model.DailyActs[i].ActivityName)
                        @Html.HiddenFor(m => Model.DailyActs[i].StartTime)
                        @Html.HiddenFor(m => Model.DailyActs[i].MemberId)
                    </div>
                </div>
                }
                <br>
                <br>
                <div>
                    <input class="gradient-button gradient-button-1" type="submit" value="Select">
                </div>
            </form>
        </div>
        <br>
        <br>
        <br>
 


        <form method="post" action="/MemberActivity/PostMemberActivity">
            <h3>Your Activities : </h3><br>
            <table id="confirm">

                <tr>
                    <th>Time</th>
                    <th>Activity</th>
                   
                </tr>
                    @for (int i = 0; i < Model.SelectedActs.Count; i++)
                    {
                        <tr>
                            <td>@Model.SelectedActs[i].StartTime</td>
                            <td>@Model.SelectedActs[i].ActivityName</td>
                            @Html.HiddenFor(m => @Model.SelectedActs[i].ActivityId)
                            @Html.HiddenFor(m => @Model.SelectedActs[i].MemberId)
                        </tr>
                    }

            </table>
            <input class="gradient-button gradient-button-2" type="submit" value="Confirm">
        </form>
        </div>
</body>
</html>


