@model ChallengeClub.Models.ActivityList;
@{
    ViewData["Title"] = "Daily Activity";
}

<html>
<head>
    <link rel="stylesheet" href="~/css/Style2.css" />
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />

</head>
<body>


    <div>
        <br>
        <h3>Today's Activities : </h3><br>

        <div>
            @using (Html.BeginForm("MemberActivity", "MemberActivity"))
            {
                for (int i = 0; i < Model.DailyActs.Count; i++)
                {
                    <div class="gallery">
                        <a href="">
                            <img src="@Model.DailyActs[i].ActivityImage" height="200" width="200">
                        </a>
                        <div class="desc">

                            @Html.CheckBoxFor(m => Model.DailyActs[i].IsCheck)
                            @Model.DailyActs[i].ActivityName<br>
                            @Model.DailyActs[i].StartTime
                            @Html.HiddenFor(m => Model.DailyActs[i].ActivityImage)
                            @Html.HiddenFor(m => Model.DailyActs[i].ActivityId)
                            @Html.HiddenFor(m => Model.DailyActs[i].ActivityName)
                            @Html.HiddenFor(m => Model.DailyActs[i].StartTime)
                            @Html.HiddenFor(m => Model.DailyActs[i].IsCheck)
                         
                        </div>
                    </div>
                }
                <br>
                <br>
                <div class="">
                    <input class="gradient-button gradient-button-1" type="submit" value="Select">
                </div>
            }
        </div>
        <br>
        <br>
        <br>
        @*<div><h3>@ViewBag.SelectedAct</h3></div>*@
        <br>
        <br>
        <br>
        <hr>


        <div>
            <h3>Your Activities : </h3><br>
            <div id="selectionScreen">
                <table class="table table-striped ">
                    @using (Html.BeginForm("MemberActivity", "MemberActivity"))
                    {


                        for (int i = 0; i < Model.SelectedActs.Count; i++)
                        {
                            <tr>
                                <td>@Model.SelectedActs[i].StartTime</td>
                                <td>@Model.SelectedActs[i].ActivityName</td>
                                <td><a href="">Remove</a></td>
                            </tr>
                        }

                        @*<tr>
                                            <td>3 pm</td>
                                            <td>Volunteer</td>
                                            <td><a href="">Remove</a></td>
                                            </tr>
                        <tr>
                            <td>6 pm</td>
                            <td>Whitey's Dinner</td>
                            <td><a href="">Remove</a></td>
                        </tr>*@

                        <tr>
                            <td></td>
                            <td><a asp-action="Logout"><input class="gradient-button gradient-button-2" type="button" value="Confirm"></a></td>
                            <td></td>
                        </tr>

                    }
                </table>
            </div>
        </div>
        <br>

</body>
</html>


